/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

* {
	--colour-bg-footer: #172d4c;
	---colour-emth: #19b2de;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Grid */
.row {
	display: grid;
	gap: 1em;
}

.col {
	position: relative;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	.s-hide {
		display: none;
	}
}

/* Medium+ */
@media screen and (min-width: 40em) {
	.row {
		max-width: 80rem;
		column-gap: 1.5rem;
		row-gap: 1.5rem;
		margin: 0 auto;
	}

	.grid {
		display: grid;
		column-gap: 0.5rem;
		row-gap: 0.5rem;
	}

	.m-col-2 {
		grid-template-columns: 1fr 1fr;
	}

	.m-col-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.m-col-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.m-1-2 {
		grid-template-columns: 1fr 2fr;
	}

	.m-2-1 {
		grid-template-columns: 2fr 1fr;
	}

	.m-1-4 {
		grid-template-columns: 1fr 4fr;
	}

	.m-ord-3 {
		order: 3;
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.m-hide {
		display: none;
	}

	.m-rowspan {
		grid-column-start: 1;
		grid-column-end: -1;
	}
}

/* Large */
@media screen and (min-width: 64em) {
	.h-hide {
		display: none;
	}

	.l-rowspan {
		grid-column-start: 1;
		grid-column-end: -1;
	}

	.l-col-2 {
		grid-template-columns: 1fr 1fr;
	}

	.l-col-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.l-col-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.l-col-5 {
		grid-template-columns: repeat(5, 1fr);
	}
}

/* Stylizing */ /* better styled using SASS */
.page__footer {
	background-color: var(--colour-bg-footer);
	color: #fff;
	padding: 1rem;
}

.footer__body-text {
	font-size: 0.85em;
	color: #fff;
}

.footer__body-text--small {
	font-size: 0.7em;
}

.footer__heading {
	font-weight: bold;
}

.footer__icon {
	width: 3em;
	height: 3em;
	border-radius: 4px;
	background-color: #222;
	overflow: hidden;
	display: block;
}

.form__email-send {
	/* Unsure how to approach */
	position: relative;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.---flex {
	display: flex;
	flex-wrap: wrap;
}

.---grid-v-align {
	align-items: center;
}

.---grid-h-align {
	justify-content: center;
}

.---gap-1 {
	gap: 1rem;
}

.---gap-05 {
	gap: 0.5rem;
}

.---block {
	display: block;
}

.---image__round {
	border-radius: 50%;
	overflow: hidden;
	margin: 2em auto;
	width: 10em;
	height: 10em;
}

.---border-w {
	border: 1px solid white;
	border-radius: 0.1rem;
}

.---colour-emth {
	color: var(---colour-emth);
}

.---colour-green {
	color: #25c389;
}
.---colour-yellow {
	color: #ffb901;
}
.---colour-red {
	color: #de6262;
}
.---colour-blue {
	color: #19b2de;
}

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	/* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 1.25dppx),
	(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*::before,
	*::after {
		background: #fff !important;
		color: #000 !important;
		/* Black prints faster */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: " (" attr(href) ")";
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}

	/*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
	a[href^="#"]::after,
	a[href^="javascript:"]::after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
